[2020-09-11 18:37] iammikek opened #1 "Add means to pull DB_DATABASE, DB_USERNAME, DB_PASSWORD from .env"
I would like to make a change to allow the settings for DB etc to be pulled from .env rather than having to modify in config/served.php

can you add me as a user to this project so I can submit a pull request?

[2020-09-12 08:28] sinnbeck commented on #1
@iammikek sounds like a fine idea. I would assume you can just fork and create a pr?

[2020-09-12 08:36] iammikek commented on #1
Hi René

Great.

BTW you may recall via laracasts we changed the port in the config/served.php to use 3307. Oddly if I changed that in Laravel .env also to 3307 it throws an error:

SQLSTATE[HY000] [2002] Connection refused (SQL: select * from `sessions` where `id` = SZc444Pjbr519zPXOEcI2MOXPGuK025yMYb8EMwT limit 1)

As I’m relatively new to docker, I’ll exclude picking up that setting for now.

I

[2020-09-12 09:42] sinnbeck commented on #1
@iammikek yeah it can be confusing. It works a bit like homestead. You use 3306 from inside laravel and 3307 from the database manager on your computer. Laravel is inside docker while your manager is outside
https://laravel.com/docs/7.x/homestead#connecting-to-databases

https://github.com/sinnbeck/laravel-served#mysql

[2020-09-21 06:32] sinnbeck commented on #1
Can this be closed?

[2020-09-21 06:44] #1 closed, assigned to nobody

[2020-09-21 19:45] iammikek opened #5 "'Tests\TestCase' not found in laravel-served/tests/Unit/DockerImageTest.php:13"
If I run 'composer test' in root directory, I get the following error:

Class 'Tests\TestCase' not found in ~/laravel8/laravel-served/tests/Unit/DockerImageTest.php:13

This appears because the tests are being run outside of a Laravel install.

Switching to running tests within Laravel8 install

with the following
[code]
and

[code]
in composer.json

./vendor/bin/phpunit ../laravel-served/tests/Un

[2020-09-21 20:15] #5 closed, assigned to nobody

[2020-09-21 20:16] iammikek commented on #5
I didn't spot that you have Laravel installed as a dev dependency. Run composer install. Job done

[2020-09-22 04:19] sinnbeck commented on #5
Yeah I also set up some auto loading and installed the orchestra test package

[2020-09-25 17:33] iammikek opened #7 "Let served make a proper name if none is set (instead of defaulting to 'served')"
@sinnbeck I'm looking at ways we could introduce this feature and wonder how you'd like to approach it?

Are you imagining something like how heroku does eg "airy-craig" or "soaring-peaks"?

We would need to preserve the name once it was created. Would it be viable for us to write this name into the .env as SERVER_NAME?

I came across https://mattstauffer.com/blog/generating-synonymous-heroku-styl

[2020-09-25 18:30] sinnbeck commented on #7
Really interesting. We just need to make sure that it does not change between builds. I worry people will complain if we add it to their env without asking. I was considering running slug on the folder name

[2020-09-25 18:34] sinnbeck commented on #7
If you wanna discuss on.. Discuss :p I am on Sinnbeck#9951

[2020-09-25 19:07] iammikek commented on #7
Using a folder name sounds sensible.

So we'd default to that, as a slug, and then allow it to be overridden in the .env if required.

We'd need to get access to it via a method that replaces the calls to
[code]
so I guess we could introduce a method in a new trait for this?

[2020-09-25 19:35] sinnbeck commented on #7
Yeah sounds like a good plan. Use config if not null and fallback to slugged folder name

[2020-09-25 19:54] sinnbeck opened #8 "More services"
@iammikek any good ideas for more services/images?

[2020-09-27 04:46] sinnbeck commented on #8
Mailhog added

[2020-09-27 05:06] sinnbeck commented on #8
Memcache added

[2020-09-27 19:57] sinnbeck opened #9 "Https for web"
I am trying to find some clever way to have the web service work with https. Both nginx and apache2

[2020-09-28 05:56] sinnbeck commented on #7
@iammikek I am considering using  `Str::slug($name, '_')` to ensure that the name is always valid. Any thoughts?

[2020-09-28 07:14] iammikek commented on #7
That sounds reasonable. we’d be looking at grabbing the directory name one level up from the vendor.

Having a think about best way to approach this via a test: are we able to compare the slugname with anything, or should we just check it’s not the value stored in config, and if it isn’t, it’s a slug.
On 28 Sep 2020, 06:57 +0100, René Sinnbeck <notifications@github.com>, wrote:

[2020-09-28 07:23] sinnbeck commented on #7
I have done a quick test with and this seems to do the job

[code]
and something like this go get the proper name
[code]

[2020-09-28 07:30] iammikek commented on #7
Great stuff.

I’m happy if you want to take on the feature and to review any code if you want sanity checking.
On 28 Sep 2020, 08:23 +0100, René Sinnbeck <notifications@github.com>, wrote:

[2020-09-28 07:31] sinnbeck commented on #7
Sure. I will try to get something up and running soon :)

[2020-09-28 07:36] iammikek commented on #7
Grand. My usual working day is client work between 9&5 although most of that is spent on Laracasts currently as I’m contracting for a financial services  company and dev is a bit light at the moment. My evenings are for when I get a bit of local dev time.
On 28 Sep 2020, 08:31 +0100, René Sinnbeck <notifications@github.com>, wrote:

[2020-09-28 12:01] #7 closed, assigned to nobody

[2020-09-29 19:44] iammikek opened #11 "Can't connect to mysql outside docker"
probably just me, but whats your normal process for interacting with the mysql DB?

I've tried to connect via the settings:
[code]
 both with localhost + 127.0.0.1 via the Database Tab in phpstorm. No dice. Any advice?

[2020-09-29 19:51] iammikek opened #12 "Allow means to run docker side by side, so you can work on multiple projects at one"
When you install Laravel served we are presented with the prompt to run the development server.

[code]

How feasible would it be to allow the port to be changed, so that multiple instances can be run side by side?

would be good to have access to the port within config/served.php

[2020-09-30 04:03] sinnbeck commented on #11
Check if the container is running with `php artisan served:list`

It might be a port inflict. If so, try setting another port (eg 3307), and run `php artisan served:up` again. After this try connecting on this port in phpstorm (still 3306 in laravel)

[2020-09-30 04:06] sinnbeck commented on #12
Actually you can. Just set or change it here

https://github.com/sinnbeck/laravel-served/blob/master/src/config/served.php#L44

Then run `php artisan served:up`

[2020-09-30 04:30] sinnbeck opened #13 "Check if ports are available"
When running served it might be nice to check if the selected ports are all available on the host system

[2020-09-30 06:56] sinnbeck commented on #11
![image](https://user-images.githubusercontent.com/13980140/94652795-e14e0b80-02fa-11eb-8abd-940001e2e3b4.png)
![image](https://user-images.githubusercontent.com/13980140/94653012-2e31e200-02fb-11eb-93b0-96de2e965396.png)

[2020-09-30 18:17] sinnbeck commented on #13
Almost done. Will be released tomorrow

[2020-09-30 19:08] sinnbeck commented on #11
Any luck getting this to work? Sadly I don't own a Mac to test on

[2020-09-30 19:56] sinnbeck commented on #8
Meilisearch

[2020-09-30 20:39] iammikek commented on #11
yeah. I got it to work when I changed the port with config/served.php

[2020-09-30 20:39] #11 closed, assigned to nobody

[2020-10-01 04:45] sinnbeck opened #15 ""cache" name"
"cache" served name to enable clean up of old containers and images on name change

[2020-10-01 05:30] sinnbeck commented on #13
Added

[2020-10-01 05:30] #13 closed, assigned to nobody

[2020-10-01 05:30] sinnbeck commented on #12
Can this be closed?

[2020-10-01 06:21] iammikek commented on #12
Yes indeed.

[2020-10-01 06:21] #12 closed, assigned to nobody

[2020-10-01 09:47] sinnbeck commented on #9
Now works on apache. But I cannot get chrome to accept the cert in any way :(

@iammikek Any experience with self-signed certs?

[2020-10-01 10:55] sinnbeck commented on #9
![image](https://user-images.githubusercontent.com/13980140/94800830-6f062580-03e5-11eb-98e2-6a594b325821.png)

[2020-10-01 11:54] sinnbeck commented on #9
Works! Just import the certificate in chrome and you have a working https site :)

[2020-10-01 11:54] #9 closed, assigned to nobody

[2020-10-01 12:18] sinnbeck commented on #9
[code]

[2020-10-01 12:51] sinnbeck opened #17 "Test database?"
A test database would be nice. Should it be created by default or be an option (the user can add one manually, but that is more work)

[2020-10-01 16:40] iammikek commented on #17
We're not gaining much overhead by adding an empty database, so adding it by default and it not being used wouldn't be too bad.

[2020-10-01 16:42] iammikek commented on #8
although I've not had a recent use for it, how about 'elasticsearch' https://hub.docker.com/_/elasticsearch ?

[2020-10-01 16:47] sinnbeck commented on #8
Sure. I'll get it in tomorrow :)

tor. 1. okt. 2020 18.42 skrev Mike Karthauser <notifications@github.com>:

[2020-10-01 16:48] sinnbeck commented on #17
Ok so we should just add a small sql script to create an extra database in Images/stubs.

Do you have experience with postgres?

[2020-10-01 17:02] iammikek commented on #17
I've worked with Postgres before, but not for a while. what are you looking to do?

[2020-10-01 17:09] sinnbeck commented on #17
Just wondering if we can create a database with the same sql command as for mysql. And if there are anything important to consider.

Otherwise I will just Google it 👍

[2020-10-01 17:11] iammikek commented on #17
I'd have to google it to remind myself TBH.

[2020-10-01 17:19] sinnbeck commented on #17
I'll brainstorm a bit. Maybe instead allow the user to add a db with an artisan command?

[2020-10-01 17:23] iammikek opened #18 "Install issue with 0.6.0"
installing into a new laravel8 install and running the following:

[code]

[2020-10-01 17:24] iammikek commented on #18
it looks like Sinnbeck\LaravelServed\Commands\ServedRunCommand file isnt in the repo. did that file failed to get committed?

Makes me wonder of the value of those command tests, where I was checking for the existence of the file. I got that idea out of another package that had artisan commands so think they might be relevant here.

[2020-10-01 17:28] sinnbeck commented on #18
Ah forgot to push it! Try again? I removed it, but I might need to create a new tag

[2020-10-01 17:46] sinnbeck commented on #18
If it doesn't work, let me know know and I will push a new tag

[2020-10-01 17:54] iammikek commented on #18
composer throws the error. i think you'll need to bump the bugfix. I'll stick with 0.5.0 on my new project for now

[2020-10-01 18:07] sinnbeck commented on #18
Try again
Release 0.6.1

[2020-10-02 11:08] ri5h commented on #15
Hello @sinnbeck I would like to work on this, I have some experience working with docker and laravel. Can you provide more details about this issue, for example:
1. How to reproduce this ?
2. How to test it?
3. Or anything else in general will be very helpful.
Thanks

[2020-10-02 11:24] sinnbeck commented on #15
@rishirajpurohit Sounds good.

1. Currently we create image and container names using one of two methods. If a name is set in the served.php config file, we use that, and if not we use the folder name (slug). Now if you build and start your containers it will create them for you with names like served_{your_name}_web. Now suppose you deside to change the name, and just rebuild the images/container

[2020-10-02 11:24] sinnbeck commented on #15
You can easily try it out by running these two commands (you can run them twice where you change the name in between runs)
[code]

[2020-10-02 15:14] ri5h commented on #15
Thank you for the details, I will try it out tonight and then see how I can start working on this issue

[2020-10-02 15:56] iammikek commented on #18
@sinnbeck I've pulled the new package and its installed = good.

I've raised a new issue though :P

[2020-10-02 15:56] #18 closed, assigned to nobody

[2020-10-02 15:58] iammikek opened #19 "running 'artisan served:up' displays extra url for dev server that doesn't resolve."
I get the following:

[code]

this last url doesn't resolve.

[2020-10-02 16:05] sinnbeck commented on #19
Interesting. Can you post an image of what it shows?

[2020-10-02 16:06] iammikek commented on #19
see above. extra url is https://localhost:4443

[2020-10-02 16:07] sinnbeck commented on #19
I mean a screenshot of the error in your browser :)

Honestly I have only tested it properly in Chrome. I imported the certificate using the guide here https://github.com/sinnbeck/laravel-served#web

[2020-10-02 16:09] iammikek commented on #17
running an extra artisan command would be my preference. Was thinking that we could have a command like the following
[code]
to do this, and then we can prompt for some details.

[2020-10-02 16:12] iammikek commented on #19
aha.

the error relates to missing cert:

[code]
I best read the readme next time 🤦

[2020-10-02 16:16] sinnbeck commented on #19
It could also be due to a bad image build. You can try recreating everything

[code]

[2020-10-02 16:17] iammikek commented on #19
I'm checking install instructions and I don't have a localhost.crt in /storage/app/served/web/

[2020-10-02 16:18] sinnbeck commented on #19
Weird! Do you see it in your forked repo? /Images/stubs

[2020-10-02 16:21] sinnbeck commented on #19
https://github.com/sinnbeck/laravel-served/blob/master/src/Images/stubs/localhost.crt

[2020-10-02 16:26] iammikek commented on #19
I can see it images/stubs.
Your install instructions suggests that it would be found in /storage/app/served/web/ directory.

[code]
BTW process for this is different on Mac chrome. I'll update the README with details once I've got this installed.

[2020-10-02 16:28] sinnbeck commented on #19
It should copy it into that folder when running `php artisan served:up`

[2020-10-02 16:30] sinnbeck commented on #19
Found the error. It only copies it over when using apache. Will release fix later today

https://github.com/sinnbeck/laravel-served/blob/master/src/Images/ApacheImage.php#L32
Vs
https://github.com/sinnbeck/laravel-served/blob/master/src/Images/NginxImage.php#L27

[2020-10-02 16:32] sinnbeck commented on #19
You can manually copy both files over and run `php artisan served:up` again

Or switch to apache for now (and run `served:up`)

[2020-10-02 16:33] iammikek commented on #19
theres an error for it in the install process too:

[2020-10-02 16:48] sinnbeck commented on #19
v0.6.2 has been released with a fix :)

[2020-10-02 16:59] iammikek commented on #19
@sinnbeck nice. works now for Nginx.

[2020-10-02 17:03] sinnbeck commented on #19
@iammikek with certificate and no errors?

I am thinking of making a real documentation page with sections for each part :) the current way might get bloated

[2020-10-02 17:10] iammikek commented on #19
@sinnbeck yeah. works with certs. the installation method is different on Mac compared to windows. I'll try and uninstall it and then cover that in the installation notes (will do this on a separate PR)

[2020-10-02 17:10] #19 closed, assigned to nobody

[2020-10-02 17:14] sinnbeck commented on #19
Awesome. I will try getting to work with Firefox and add that as well

[2020-10-02 17:54] sinnbeck commented on #17
Yeah. Or something database specific like ` php artisan served:db-manage`

[2020-10-02 17:56] sinnbeck commented on #17
But maybe for a start it is OK with external access, and "shell" access

[code]

[2020-10-03 18:11] sinnbeck opened #20 "Flag for showing commands being run"
Add a flag to commands that allows showing what commands are run. Will need some regex replacements to ensure proper values are show (not "variables")

[2020-10-03 18:17] vijaykrishna536 commented on #20
Hi @sinnbeck Please explain a bit more about the issue

[2020-10-03 19:44] sinnbeck commented on #20
Sure
https://github.com/sinnbeck/laravel-served/blob/master/src/Containers/PhpContainer.php#L10
https://github.com/sinnbeck/laravel-served/blob/master/src/Containers/PhpContainer.php#L28
For example when starting a container, we run a docker command like this. The Process component from symfony then replaces these "variables" when running the command.

It would be nice for the user (and testing) i

[2020-10-04 20:17] pfaffenrodt commented on #20
Interesting, this year it is required that a `hacktoberfest` is added in topic of the repository
My PR is marked as:

[2020-10-05 03:59] sinnbeck commented on #20
Added topic to project. Thanks for the help!

[2020-10-05 04:00] #20 closed, assigned to nobody

[2020-10-06 04:30] sinnbeck opened #22 "Stand alone "executable""
I consider switching to laravel zero and allow the user to publish a served executable to your project.

Will make it possible to simply run
[code]
Any thoughts?

[2020-10-06 06:39] iammikek commented on #22
so would that would us the means to run up a 'served' instance for a non Laravel project?

If so, I am up for that.

[2020-10-06 06:50] sinnbeck commented on #22
Not currently no, as a none laravel project does not have config files. I think that way of doing things is more what Takeout is meant to do :) https://github.com/tighten/takeout

The idea here is to simply place a php file called served, next to artisan, so you can use that directly.

I might consider making a none laravel served later on, but my fear is that it will just end up being docker-comp

[2020-10-06 08:00] iammikek commented on #22
Keeping it laravel specific makes sense.
How does served differ from takeout? Is that we’re providing a quicker means to get up and running? The same way homestead is just a plug-in and play version of vagrant?

[2020-10-06 08:42] sinnbeck commented on #22
Takeout sets up your containers using promts. So first you tell it you want to set up redis. Then it asks what port to use etc. And it  isnt laravel specific (it just creates containers). It is a global composer package for docker so to say. Also it does not come with php as it is meant to use the php version running on your machine (Valet).

The big difference here is that
1. Served is laravel sp

[2020-10-06 10:56] iammikek commented on #22
Served being standalone (like homestead) is a real bonus for me. Even though I've got native PHP/ mysql running on my Mac, being able to version locking it is the reason I'm using either of these.

How much work do you think it would be to switch over to laravel zero? I've only just come across that, so would be interested in getting involved if its tangible.

[2020-10-06 11:40] sinnbeck commented on #22
I will try making a PR this weekend at the latest. Shouldn't take more than a few hours I think.

[2020-10-07 06:13] sinnbeck commented on #22
Bad news. I read through the documentation and code, and there does not seem to be any way to extend served if I use laravel zero. That is an idea I really want in there (the user can add their own custom service).

I might look into writing my own instead, but I am going to shelve this for now.

[2020-10-07 06:13] #22 closed, assigned to nobody

[2020-10-27 13:27] mattfletcher opened #23 "PHP container failing to build"
I just tried this package for the first time and I'm getting:

[code]

The web and mysql seem to have started just fine.

Steps were as follows:

[code]

[2020-10-27 14:19] sinnbeck commented on #23
Most likely something went wrong when building the image. I just ran the commands locally, and it went through without any errors.

Can you try running this command and see if any errors come before `Unable to find image` ?
[code]

[2020-10-27 22:18] K2ouMais commented on #23
I am getting the same errors on a newly installed Laravel project after running ```php artisan served:run```.

It seems the images arent beeing pulled and so they arent beeing build.

![Screenshot 2020-10-27 231654](https://user-images.githubusercontent.com/52510455/97368196-b54a8980-18aa-11eb-9d5a-ce5e7d00627d.png)

[2020-10-28 04:54] sinnbeck commented on #23
@K2ouMais be aware that you need to run `php artisan served:up` on the first run. This will build and run the images. Using run alone will not build them first.

The images are built on disk to allow customizing them through the `config/served.php` file (if published)

[2020-10-28 08:05] K2ouMais commented on #23
@sinnbeck

It still doesnt work for me, but I think it is because I am behind a proxy and so most things dont work well.

![Start](https://user-images.githubusercontent.com/52510455/97408638-a8568600-18fc-11eb-8391-85dc442d03c0.png)

Could you put some keys in the config for a Proxy?

[code]

[code]

Only use the ```--build-arg``` if the var is not empty.

Thanks

[2020-10-28 08:50] sinnbeck commented on #23
@K2ouMais Actually I am not using docker-compose. Only native docker commands. First I use `docker build` to create images and then `docker run` to run each of them. I might look into how using a proxy works with that. Edit: It seems that you can actually set it for your user. https://docs.docker.com/network/proxy/#configure-the-docker-client

Can you also try running `php artisan served:up php` a

[2020-10-28 08:54] sinnbeck commented on #23
Oh and you can see the actual commands being run by adding `-v` to a command

Example
[code]
That last one is the build command.

[2020-10-28 09:30] K2ouMais commented on #23
@sinnbeck

I have the proxy set in Docker Desktop.

But for some reason I still have to use the ```--build-arg``` while building a container on completely other projects, even when it is set on Docker Desktop.

![docker_proxy](https://user-images.githubusercontent.com/52510455/97417754-59165280-1908-11eb-94c9-fc6d747bdfbe.png)

I just wanted to use your package, to be a bit easier for me and the o

[2020-10-28 09:41] sinnbeck commented on #23
Can you try `composer update` and then `php artisan served:up` again. I just found a bug after the release of composer 2, that might be causing some issue.

I might try getting it to stop on failure, to make it easier to debug :)

[2020-10-28 10:03] K2ouMais commented on #23
Hi, I still get the same errors.

Just tried on my PC at home where there isnt a proxy set and I get the same errors aswell.

I really dont know how to help you out on this.

[2020-10-28 10:04] sinnbeck commented on #23
Just released v0.6.6 which stops on error and shows the error on screen. Hope that can help :)

![image](https://user-images.githubusercontent.com/13980140/97421929-62ee8480-190d-11eb-89c0-7bea453b53d3.png)

[2020-10-28 10:24] K2ouMais commented on #23
Sorry, but seems that I cant get it to work.

![StillErrors](https://user-images.githubusercontent.com/52510455/97423801-18223c00-1910-11eb-9ea8-e509e8857c12.png)

[2020-10-28 10:26] sinnbeck commented on #23
Can you show the first line as well, where you run the command?

[2020-10-28 10:28] K2ouMais commented on #23
There you go. I tried all containers and then just the php container.

![StillErrors](https://user-images.githubusercontent.com/52510455/97424153-9aaafb80-1910-11eb-898c-542e9f103668.png)

[2020-10-28 10:28] sinnbeck commented on #23
@K2ouMais You are still using `served:run` instead of `served:up` ? To get it to build the newest image, you need to use `up`:)

[2020-10-28 11:20] K2ouMais commented on #23
You are right... I messed up.

Now I have another problem and this is really because of the proxy.

![Pear](https://user-images.githubusercontent.com/52510455/97429548-de553380-1917-11eb-82d8-8ad32f05d7bc.png)

Here is an example of a working Dockerfile, that is working for us:
[code]

Without that pear config line it doesnt work for us.

[2020-10-28 11:47] sinnbeck commented on #23
That's alright. No worries

Does it by any chance work if you run it like this? (replace the `HOSTNAME` with the actual proxy host) :)
[code]

You can also try adding the proxy directly in the Dockerfile
Open `c:\laragon\www\laradocker\storage\app\served\php\Dockerfile` and add these two lines just after `FROM library/php:7.4-fpm`

[code]
And then run
[code]

If one of these work, I will implement

[2020-10-28 13:00] K2ouMais commented on #23
Seems the command is missing something.

![Tag](https://user-images.githubusercontent.com/52510455/97439054-fb90fe80-1925-11eb-8930-ac8d3f5ccc83.png)

[2020-10-28 13:08] sinnbeck commented on #23
@K2ouMais It might be sligtly different on windows (I am on ubuntu). I tried to guess the command on windows, but might have missed it a bit. I dont use windows normally.

Try running `php artisan served:up php -v` and stop it instantly (ctrl+c?) to see the command for running it (be aware that this will reset your Dockerfile)

It could just be without quotes
[code]

[2020-10-28 13:20] K2ouMais commented on #23
@sinnbeck

Seems the command on Windows is:
[code]
It seems to work with the ENV options in the Dockerfile.

It doesnt work on the command itself because there is no --env option.

And this is another error:
![AnotherError](https://user-images.githubusercontent.com/52510455/97441240-ca65fd80-1928-11eb-8a55-7565e814b504.png)

[2020-10-28 13:57] sinnbeck commented on #23
@K2ouMais Awesome. I am just adding that do the Dockerfile. I assume people dont want their proxy settings saved in the Dockerfile, but passed down through the build command instead?

I will try to find a workaround for getting the keyserver to handle proxy as well..

You can try replacing this line
[code]
With
[code]

[2020-10-28 15:10] K2ouMais commented on #23
@sinnbeck I dont see a problem with having the proxy in the Dockerfiles.
Normaly that are only people behing their companys Proxy and the projects are inhouse or private.
Like I said earlier, it didnt work as an env option on the command, because there isnt any env option for ```docker build```.

You could take the proxy from the command ```docker info```. The HTTP and HTTPS proxys are there.

If

[2020-10-28 15:15] sinnbeck commented on #23
@K2ouMais Great. I will just add it to the Dockerfile. Easy fix. I am trying to find a way to get that keyserver in some other way, but no luck so far. Perhaps I will remove it if a proxy is set for now. All it does is install mysqldump, enabling you to use the new `schema:dump` command. If anyone has any idea of how to get it to work behind a proxy, I will happily accept a PR :)

[2020-10-28 15:19] K2ouMais commented on #23
Man I am impressed how you are handling all this.

I am just simple person, that really wants to use this package with a team of 15 people.

The new ```schema:dump``` command is really cool, but I dont know how many people are really using it.

Maybe they are using it on projects that are running for a few years and have a lot of migrations.

Thank you for all this... If you want me to test someth

[2020-10-28 18:08] sinnbeck commented on #23
It's my first package so it means alot for me that it works well. And before I give it v1.0, I want all of the bugs out. So I am just happy to have found one of them, so I can get it fixed.

I should have a version out tomorrow that works with proxy.

Just curious, what is your set up? Windows 10 + wsl2? That was my setup for testing it out on windows, but docker was reaaaalty slow until I moved t

[2020-10-28 18:52] K2ouMais commented on #23
My setup at work is Windows, Laragon (like XAMP but easier) and WSL1. The company I am working for is still on an older Windows 10 build and so I am still waiting for WSL2 to beeing rollout. Developing in WSL1 is a pain and so I try to stick to Windows only or Docker.

All the tests today was done in Windows 10 with the Cmder Terminal and Docker Desktop.

I use for 80% of my projects Docker, but I

[2020-10-28 18:57] K2ouMais commented on #8
I would like to see Redis.

[2020-10-28 19:31] sinnbeck commented on #8
@K2ouMais already exists :)

https://github.com/sinnbeck/laravel-served#redis

Here is the complete list https://github.com/sinnbeck/laravel-served#available-services

[2020-10-28 20:23] mattfletcher commented on #23
Yep, it works now. Thanks for the fix. Nice package!

[2020-10-28 20:23] #23 closed, assigned to nobody

[2020-10-28 20:36] sinnbeck opened #24 "Not working behind a proxy"
Served has problems running behind a proxy. Post your issues here

@K2ouMais

[2020-10-28 23:04] louis-l opened #25 "Requests are really slow on mac"
Hi,

Thanks for the awesome package. Im trying it in my new project and realise that the HTTP requests are really slow, ~2s each.

I guess its the docker file sync issue? Any way to improve that using this package?

P/S: Im using Mac.

Cheers,

[2020-10-29 00:31] louis-l commented on #8
Is it possible to add https://github.com/puppeteer/puppeteer?

[2020-10-29 05:00] sinnbeck commented on #8
@louis-l I assume for local usage in your project for stuff like browsershot?
If so I will add an option to install chrome into the php image

[2020-10-29 05:04] sinnbeck commented on #25
Sadly I generally hear reports of docker being slow on Mac. Sadly I don't own a Mac, so I have hard time tweaking it to run faster (if possible).

If anyone with docker experience and a Mac, want do try tweaking the volume creation, and add a pr, that would be appriciated

[2020-10-29 05:05] louis-l commented on #8
@sinnbeck

Yes, particularlly Im using https://github.com/spatie/browsershot and I have to add follow snippet to my Dockerfile:

[code]

[2020-10-29 05:11] sinnbeck commented on #8
@louis-l will test it out and try to get it working with the bare minimum

[2020-10-29 07:09] K2ouMais commented on #24
The next problem I was having is with GNUPG. It seems that it doesnt accept the proxy.

When the proxy is in the command the containers stops completely from build and it doesnt exit anymore.

[2020-10-29 07:21] sinnbeck commented on #24
I am trying to find a proxy I can use so I can test it out myself :) It is hard to fix without having the same set up

[2020-10-29 07:34] K2ouMais commented on #24
Yes I know how hard it is.

I am also trying to find a way.

I will let you know if I find something usefull.

[2020-10-29 07:49] sinnbeck commented on #24
I added proxy to Dockerfile and the run command. You may try installing the branch

[code]
Be sure to add these to you served.php config file, just after `'name' => env('SERVED_NAME'),`
[code]

[2020-10-29 08:22] K2ouMais commented on #24
I found a way to get through GNUPG.

I had to change the keyserver and add my proxy.

Now I am having a problem with redis and PECL.

I could bet it is the proxy again.

[code]

[2020-10-29 08:28] sinnbeck commented on #24
Thanks for the feedback. I will add the proxy in there if it is set :)

Can you test the above branch to see if that works ? It sets the proxy for all images and all containers, and skips the whole gpg part

[2020-10-29 08:33] K2ouMais commented on #24
Here is a fully functional Dockerfile.

For Redis to install correctly:
```pear config-set http_proxy ${http_proxy}```

For GNUPG to retrieve the key correctly:
```gpg --batch --keyserver-options http-proxy=${http_proxy} --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys "$key";```

Keyserver can be a real pain to get working.

[code]

Now it only seems I have to handle some permissions,

[2020-10-29 08:42] sinnbeck commented on #24
Does it work if you move this line
[code]
Down to the installation of the php packages
[code]

[2020-10-29 08:49] K2ouMais commented on #24
Yes it does work.

It only have to be before you install any PECL package.

Let me know you are doing a new release, so that I can try the whole package out.

Thank you for your support

[code]

[2020-10-29 08:52] sinnbeck commented on #24
I will make an update soon. I am just having some issues with `gpg --batch --keyserver hpk://80.pool.sks-keyservers.net:80 --recv-keys A4A9406876FCBD3C456770C88C718D3B5072E1F5` not working for me. "No keyserver available".

[2020-10-29 08:58] K2ouMais commented on #24
I think it is because of the hpk protocoll.

Maybe we have to search for a keyserver that works for both.

[2020-10-29 09:56] sinnbeck commented on #24
I have found it here, but I am unable to get it working with port 80 sadly.

http://keys.gnupg.net/pks/lookup?search=0x8C718D3B5072E1F5&fingerprint=on&op=index

[code]

[2020-10-29 10:05] sinnbeck commented on #24
Does it work if you do
[code]

[2020-10-29 10:24] sinnbeck commented on #24
Nevermind. Got it working with your config now. Removed my docker dns settings, and it suddenly worked. New version has been pushed.

[2020-10-29 10:26] K2ouMais commented on #24
I was about to write that is doesnt work.

Will try the new version.

Thanks

[2020-10-29 10:35] K2ouMais commented on #24
Should I wait for a new release or should I get it from the proxy branch?

[2020-10-29 10:37] sinnbeck commented on #24
Just require it again, and it should give you the latest version :)
[code]

[2020-10-29 11:14] K2ouMais commented on #24
You have a typo in the Dockerfile.

```-keyserver-options``` sould be ```--keyserver-options```.

You had some php extensions enabled in the past, that now arent in the Dockerfile anymore.

```pdo_pgsql``` and ```redis```

I am now getting a problem with composer, but that could be on my side. I will take a look...

![composer](https://user-images.githubusercontent.com/52510455/97561344-4ec78780-1

[2020-10-29 11:19] sinnbeck commented on #24
Both are fixed.

You can add your wanted extensions to this array in served.php. Just trying to keep the base, to a minimum
[code]

[2020-10-29 11:27] K2ouMais commented on #24
Yes I saw that to late.

Now I am getting an Nginx error:

![nginx](https://user-images.githubusercontent.com/52510455/97562543-13c65380-19e2-11eb-93ef-590e6fc719cf.png)

The build process of PHP was flawless.

[2020-10-29 12:25] sinnbeck commented on #24
Great we are making progress! :+1:

It might be because the --env stuff should go before the image name. I have tried moving it. require again to get the newest.

[2020-10-29 12:42] K2ouMais commented on #24
Now I just have one more thing to say...

![served](https://user-images.githubusercontent.com/52510455/97575124-8c321200-19ec-11eb-8553-c68be28ede47.png)

Thank you for all this.

[2020-10-29 12:43] sinnbeck commented on #24
Yay! :) I assume the urls work as well?

Be aware that you manually need to import the certificate for chrome to work :)
https://github.com/sinnbeck/laravel-served#web

[2020-10-29 12:44] K2ouMais commented on #24
Yes, the URLs are working and I see my vanilla Laravel application.

I will take a look at your link.

Thank you again.

[2020-10-29 13:17] sinnbeck commented on #24
New version is out with proxy support: v0.7.0

[2020-10-29 13:34] K2ouMais commented on #24
Thank you very much for the mention and thanks again for this package.

[2020-10-29 14:25] sinnbeck commented on #25
@louis-l I made a quick branch to test volume caching for mac. If you want to try it out you can install it with
[code]
No promises. Seems that Mac and Docker has a long standing history of not working well together

[2020-10-29 14:52] iammikek commented on #25
@sinnbeck I just checked out new version on my Mac mini, and a basic

[code]
renders to page in around 900ms.

calling a basic livewire counter, returns an updated response in just over a second.

[2020-10-29 15:00] sinnbeck commented on #25
@iammikek Thanks! Too bad. It also seems that they are trying to find where to take it in the future. Maybe an NFS share from what I can read. If anyone with mac/docker experience have any ideas, please feel free to comment :)

[2020-10-30 09:01] sinnbeck commented on #24
Glad to be of help :) Just happy that it works now

[2020-10-30 09:01] #24 closed, assigned to nobody

[2020-11-01 21:41] pfaffenrodt commented on #25
@sinnbeck this is file related.

* only for mac mount volumes with `:cached` (instead of :delegated). files may be out of sync, but thats faster, than waiting a second of a http request.
* if `cached` is not an option, than create a volume for vendor and storage that is not synced to mac file system.
* use redis for cache, sessions and so on

On windows threre is wsl2 now and this is no issue ther

[2020-11-02 05:14] sinnbeck commented on #25
@pfaffenrodt Thanks? Sadly that is exactly what I tried. The above branch adds :cached to both php and web container. Sadly it apparently doesn't help. I will need to get my hands on a mac for testing myself.

[2020-11-02 09:15] zendraxl commented on #25
@sinnbeck as a first tweak I would suggest moving Xdebug to separate container. After that we can see what can be done to fix slow requests.

[2020-11-02 12:30] sinnbeck commented on #25
@zendraxl Do you mean having 2 php containers (one with xdebug and one without)? I have never seen any examples of running xdebug completely by itself. And it should be easy to test without it (simple disable it and rebuild)

Change it to disabled in `served.php`
[code]
And run
[code]

[2020-11-02 15:04] zendraxl commented on #25
@sinnbeck thanks for replying to my comment

Yes, that is exactly what I mean. Current setup would require us to run `served:up` command to rebuild, while approach with two containers is more flexible and does not require developer to be constantly aware what is the current state of `Xdebug`. Since `Xdebug` container does not have to run in the background, it will not eat any resources like batter

[2020-11-02 16:00] pfaffenrodt commented on #25
@sinnbeck you use `:delegated` and not `:cached` in the cache branch.

@zendraxl  In my experience xdebug will affect the response time, but not that much that it is up to a 1 sec. In most cases it is filesystem related.

For best response time is not to sync vendor and storage dirs. Devs need to know, that files are not on the host filesystem.

mount volumes:
- vendor:/var/www/html/vendor
- stora

[2020-11-02 17:40] sinnbeck commented on #25
@zendraxl thanks for the idea. Not quite sure how to implement it. I would assume the webserver would need to handle each php instance, and serve it on a different port?

@pfaffenrodt Doh! I was certain I had used cached. I will update the fork as soon as I can.

But that is actually an interesting idea. But as I understand the article you would need to move the folders to a new location (out of t

[2020-11-02 17:58] sinnbeck opened #27 "Enable/disable xdebug or multiple php instances"
Currently you need to rebuild the php image to turn xdebug on and off. This thread is for working on a better way. Perhaps running multiple versions of php, or having an easy way to turn it on/off on the fly.

https://github.com/sinnbeck/laravel-served/issues/25#issuecomment-720344288

[2020-11-02 21:33] zendrax commented on #25
@sinnbeck Depends on your workflow. If you put a breakpoint and run a test with debugger then you only need to have other container with XDebug. But if you are listening for a connection then I'm not sure since I haven't used that for a long time. I always create a test proving that the bug exists or to guide me develop new feature.

If someone is using listen for connection, please try and report

[2020-11-03 14:10] sinnbeck commented on #25
@zendrax Thanks. I will look into it :)

@pfaffenrodt New version ready with cached. Sadly the laravel splash page is still 1 second to load.

[2020-11-03 15:58] pfaffenrodt commented on #25
@zendrax you are right.

@sinnbeck I guess it depends on the mac hardware. On our docker envs it has at least 230 ms on mac. We tested with :cached and :delegated it make just a litte difference. I let my colleague test it with laravel served.

*edit:

400ms landingpage of laravel 8.4 with cache branch.

We had with Laradock a 230 ms response time (but not with the landingpage)

[2020-11-03 16:55] sinnbeck commented on #25
@pfaffenrodt Thank you so much for testing. It's quite an old Mac (reinstalled today though), so that might have something to do with it.

I am almost done with implementing your suggestion regarding unsynced directories (just fixing a few permission issues).

[2020-11-04 07:01] sinnbeck commented on #25
@pfaffenrodt New version is up with your suggested changed. It dropped the loading time to around 200-300 ms! That is way better :)

Be aware that after running `php artisan served:up` you will need to run `php artisan served:ssh` and then from there `composer install`

[2020-11-04 07:15] iammikek commented on #25
@pfaffenrodt @sinnbeck let me know if I can help with testing. I’m running a 2014 Mac mini i7 3ghz with ssd and latest Mac OS

[2020-11-04 07:19] sinnbeck commented on #25
@iammikek You are very welcome to install the newest version and see if it runs fast for you as well :) Remember to run `served up`

[code]

[2020-11-04 08:11] iammikek commented on #25
@sinnbeck sure thing. Will update here when I have

[2020-11-04 09:01] sinnbeck commented on #27
As a possible solution, it is now possible to enable/disable xdebug using `php artisan served:xdebug enable` and `php artisan served:xdebug disable`.

If anyone wants to try it out, it can be installed using
[code]
@zendrax

[2020-11-04 09:04] sinnbeck commented on #25
@zendrax Xdebug fix has been posted here https://github.com/sinnbeck/laravel-served/issues/27 if you want to have a look :)

[2020-11-04 09:22] zendraxl commented on #27
@sinnbeck in my mind that is far better than having to rebuild the container. Thanks for listening.

[2020-11-04 09:23] zendraxl commented on #25
Very nice support. Thank you @sinnbeck

[2020-11-05 06:38] sinnbeck commented on #27
@zendraxl Glad to hear that you like it. It is now part of the main branch :)

[2020-11-05 07:11] #27 closed, assigned to nobody

[2020-11-12 07:26] sinnbeck opened #29 "Puppeteer"
I am working on getting puppeteer support up and running.
I can get it working by installing chrome manually, setting `->noSandbox()` when using it. From what I can read, this is bad practice, and I would rather not force people to add `->noSandbox()` to code, that is going into production.

https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#setting-up-chrome-linux-sandbox

@

[2020-11-12 08:07] sinnbeck commented on #29
I managed to get it working using explicitly setting user in the php Dockerfile
[code]
and adding these run options to the php container.
[code]
Sadly I takes like 20 seconds to take a screenshot of google.com (8 seconds for the welcome view html in laravel). I cant believe that this is how its supposed to work

Edit: after a reboot the time is down to 6 seconds, but that still seems incredibly sl

[2021-02-14 16:27] iammikek opened #30 "Setting up Laravel-served with phpstorm"
Hiya sinnbeck,
Do you have any advice on how to set up phpstorm with Laravel-served?

I'm trying to set a remote PHP interpreter. When I select
Preferences > PHP > CLI Interpreter > Add New (Docker) I cant see the image from the list.

Have you had any success with this and be able to share how to do it?

[2021-02-15 07:30] sinnbeck commented on #30
Hi Mike

This is how I set it up locally :) I just quickly created a new project called laravel8 and spun it up. After that I can select it here.
![image](https://user-images.githubusercontent.com/13980140/107917362-1b494280-6f68-11eb-82eb-ef7eede305ee.png)

[2021-02-15 10:48] iammikek commented on #30
@sinnbeck Thanks René. I'll give that a go :P

[2021-03-05 21:20] #30 closed, assigned to nobody

[2021-03-05 21:33] iammikek commented on #30
Thanks. I've now got PHPStorm recognising the docker instance.
Any tips on how to get XDebug playing?
![Screenshot 2021-03-05 at 21 32 35](https://user-images.githubusercontent.com/94362/110175890-5bc70e00-7dfa-11eb-8646-71d3a3ebbc97.png)
Specifically:
![Screenshot 2021-03-05 at 21 34 22](https://user-images.githubusercontent.com/94362/110176037-9a5cc880-7dfa-11eb-85b1-1f422ae1a626.png)

[2021-03-06 05:55] sinnbeck commented on #30
Start by changing the port on the left (9000,90003) to 9001. Next create a remote debug config. It requires an IDE key. Use phpinfo() to find it

[2021-03-06 10:58] iammikek commented on #30
Great. switched to port 9001. I can see via phpinfo that ide_key = served. I've added this key to DBGp Proxy settings in phpstorm.

![Screenshot 2021-03-06 at 10 57 57](https://user-images.githubusercontent.com/94362/110204432-db8cc100-7e6a-11eb-8878-d74667489084.png)

Previously I've added autostart config to xdebug (when I've done this via vagrant). In this case, would you expect
`http://localho

[2021-03-08 13:23] sinnbeck commented on #30
Hope you got it working. I use this setup
![image](https://user-images.githubusercontent.com/13980140/110327133-e043a780-8019-11eb-81d0-92dbec76e82a.png)

[2021-09-21 10:55] marufdevops opened #31 "Issues on building Php 7.4-fpm"
Development Environment:
- Mac OS, M1

When running **php artisan served:up**
[code]
I am not sure where is the issue! please help

[2021-09-21 11:23] sinnbeck commented on #31
Sadly I don't own a M1, so I cannot replicate the issue and thereby provide a fix. Feel free to send in a PR (or just explain how you got it working and I will look into a patch)

[2021-09-21 13:01] iammikek commented on #31
not sure if this is relevant, but with docker on M1, the most common issue I've faced (in general) is with lack of support for mysql.

It maybe that the image for mysql needs to be switched to use mariadb instead?

[2021-09-22 09:32] marufdevops commented on #31
I am not sure if this is the issue. The build process got stuck even before it can proceed to db image

[2021-09-22 12:20] sinnbeck commented on #31
If you run the commands with -vvv you should get the actual underlying commands that docker is running. That might help in debugging.